body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 상단 정렬을 위해 flex-start로 설정 */
    height: 100vh;
}

table {
    width: 100%;
    max-width: 1200px;
    border-collapse: collapse;
    table-layout: fixed; /* 고정된 테이블 레이아웃 */
    margin-top: 20px; /* 위쪽 여백을 줄입니다 */
}

td, th {
    padding: 8px;
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word; /* 긴 텍스트 줄 바꿈 */
}

th {
    background-color: #14766a;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e2e2e2;
}
